<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      
      <!-- Brand Title -->
      <a class="navbar-brand fw-bold fs-4 text-primary-emphasis" href="#">
        🔉 Voice Biometric Analyzer
      </a>

      <!-- Log-Off Button -->
     <a class="btn logout-gradient d-flex align-items-center gap-2 px-3 py-2 fw-bold"
   routerLink="/login">Log-Out  &nbsp;
  <i class="bi bi-box-arrow-right fs-5 "></i> 
</a>


    </div>
  </div>
</nav>
